.form-card {
  /* background-color: lightslategray; */
  padding: 5% 0%;
  border-radius: 1rem;
  background-color: white;
}
.form-card {
  font-weight: bold;
  font-size: 130%;
}

.input-feild {
  width: 80%;
  margin-top: 3%;
  padding: 2% 5%;
  border-radius: 0.5rem;
  font-size: larger;
}

.label-heading {
  font-size: larger;
}
