.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.modal-content {
  background-color: lightgreen;
  position: relative;
  /* left: 50%;
  top: 50%; */
  /* margin-top: 35%; */
  /* top: 50%;
  left: 46%; */
  width: 40%;
  height: 10%;
  margin: 0 auto;
  margin-top: 30%;
  padding: 2% 7%;
  border-radius: 0.5rem;
}
