.btn{
    font-size: larger;
    font-weight: bold;
    background-color: brown;
    color: white;
    border-radius: 0.5rem;
    border: 0;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    padding: 2% 5%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }