.cent {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.heading {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  margin: 5% 0%;
}

body{
  background-color: black;
  /* color: white; */
}
